.Header{
    width: 100%;
    display: flex;
    padding: 30px;
    border-bottom: 5px solid rgba(27,145,202,255);
    background-color: rgba(36,40,43,255);
}

.Title-header{
    width: 50%;
    margin-left: 50px;
    font-size: 30px;
    color: white;
}

#word{
    color:rgba(27,145,202,255);
}

.Nav{
    width: 50%;
    margin-right: 30px;
    margin-top: 12px;
    color: white;
}

.Nav ul{
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Nav ul li{
    margin-left: 15px;
}