.Header{
    width: 100%;
    display: flex;
    padding: 10px;
    border-bottom: 5px solid rgba(27,145,202,255);
    background-color: rgba(36,40,43,255);
    
}

#contenedor-menu{
    margin-left: 16%;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(27,145,202,255);
}

.Title-header{
    width: 50%;
    margin-left: 50px;
    font-size: 30px;
    color: white;
}

#word{
    color:rgba(27,145,202,255);
}

#texto-menu{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-left: 1%;
    margin-right: 40px;

}

#texto-menu .texto-opcion{
    color: white;
    
    
}