.container-main{
    max-width: 1200px;  
}

.container-main .image-main{
    width: 100%;
}

.container-main .image-main img{
    width: 100%;
    height: 450px;
}

.container-main .caja-textos{
    background-color: green;
}

.container-main .caja-textos h2{
    
}

.container-main .caja-textos p{
    
}